<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo" src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>
<div class="fix">
  <br>
  <h2 style="text-align: center;">Search for a service</h2>
  <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()" animated="true">
  </ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</div>
<ion-content text-center>

  <br>

  <ion-list>
    <ion-item color="primary" *ngFor="let item of items" (click)="viewDetails(item)">
      {{ item.title }}
    </ion-item>
  </ion-list>

</ion-content>
