<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo" src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<div class="fix">
<h2>Meet the Team</h2>
<ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()" animated="true"></ion-searchbar>
<div *ngIf="searching" class="spinner-container">
  <ion-spinner></ion-spinner>
</div>
</div>
<ion-content text-center>

  <ion-list>
    <ion-item color="medium" text-wrap *ngFor="let team of teams">
      <ion-avatar class="avatar" slot="start"><img src="{{ team.headshot }}"></ion-avatar>
      <ion-label text-wrap><b>
          {{ team.name }}
        </b>&nbsp; <h6>
          {{ team.role }}
        </h6>
      </ion-label>
      <br>
    </ion-item>

  </ion-list>

</ion-content>
