

ion-buttons {
  position: absolute;

}

.fix {
  background: var(--ion-color-white);
}
.avatar {
      height: 80px;
      width: 80px;
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

ion-item {
  color: black;
  margin: 1% 0;
}
h2 {
  text-align: center;
}
