<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Email Boutique Solicitors</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding color="medium">
    <!-- <form action="form.php" method="POST"> -->

    <h4>From:</h4>
    <!-- <ion-item> -->
      <ion-input padding [(ngModel)]="email" type="email" inputmode="email" placeholder="Your email address" required></ion-input>
    <!-- </ion-item> -->

    <h4>Message:</h4>
    <!-- <ion-item id="emailArea"> -->
      <ion-textarea padding [(ngModel)]="message" rows=10 placeholder="Type your query" required></ion-textarea>
    <!-- </ion-item> -->

      <!-- Your Email: <input type="text" name="email"><br>
      Message:<br><textarea rows="5" name="message" cols="30"></textarea><br>
      <input type="submit" name="submit" value="Submit"> -->

  <ion-button expand="block" (click)="sendEmail()" size="large">SEND EMAIL</ion-button>

  <ion-button expand="block" (click)="closeEmail()">CANCEL</ion-button>
<!-- </form> -->
  </ion-content>
