.navbar {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80px, 50% 100%, 0 80px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
  padding: 40px 10px 40px 10px;
  background: var(--gradient-bg);
  // padding-top: env(safe-area-inset-top);
}


ion-buttons {
  position: absolute;

}


.navbar img {

    height: 9vh;
    width: 12vh;
    margin: 0 auto;
    display: block;
}

.afProfile {
background: #f8f8f8;

  ion-card,
  ion-input {
    box-shadow: var(--box-shadow);
  }
  ion-label {

  }

  ion-input {
    background: var(--ion-color-white);
    // border: 1px solid #f1f1f1;
    margin-bottom: 4%;
  }
  ion-input,
  ion-button {
    margin-top: 2%;
    border-radius: var(--border-r);
    --border-radius: var(--border-r);
  }
  ion-label,
  span {
    font-size: 14px;
  }
  // ion-button {
  //   margin-top: 10%;
  // }
  ion-card,
  ion-label {
    background: var(--ion-color-white);
  }
  ion-card-content {
    padding-top: 0;
  }

}

.uploadcard {
  // margin-left: 10%;
  // margin-right: 10%;
  // margin-top: 10%;
  // margin-bottom: 10%;
  margin: 10%;
}
