.navbar {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
  padding: 40px 10px 20px 10px;
  background: var(--gradient-bg);
  // padding-top: env(safe-area-inset-top);
}
// .logo {
//   height: 8vh;
//   width: 10vh;
//   margin: 0 auto;
// }

ion-buttons {
  position: absolute;

}
ion-select, ion-input {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-r);
  --border-radius: var(--border-r);
  background: var(--ion-color-white);
  margin-top: 2%;
  margin-bottom: 4%;
}
ion-button {
  border-radius: var(--border-r);
  --border-radius: var(--border-r);
  margin-top: 4%;
}
ion-label {
  font-size: 14px;
}

.navbar img {

    height: 9vh;
    width: 12vh;
    margin: 0 auto;
    display: block;
}

.billing {
  text-align: center;


}

.billing ion-input {
  // border: 1px solid #000;
  // transform: translateX(5%);
}

.billing ion-select {
  // border: 1px solid #000;

}
