.navbar {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
  padding: 40px 10px 20px 10px;
  background: var(--gradient-bg);
  // padding-top: env(safe-area-inset-top);
}


ion-buttons {
  position: absolute;

}


.navbar img {

    height: 9vh;
    width: 12vh;
    margin: 0 auto;
    display: block;
}
ion-img {
  //  position: absolute;
    height: 12vh;
    width: 15vh;
    margin: 0 auto;
}