.activeTab {
    background: var(--gradient-bg);
    color: white;
}

.logo {
    height: 8vh;
    width: 10vh;
    margin: 0 auto;
  } 
  
  ion-buttons {
    position: absolute;
  
  }
  
  
  .navbar img {
  
      height: 9vh;
      width: 12vh;
      margin: 0 auto;
      display: block;
  }

  ion-card {
      padding-top: 5%;
      box-shadow: var(--box-shadow);
  }

  ion-item {
      font-size: 85%;
  }

 ion-item ion-fab-button {
     height: 75%;
     width: 14%;
     margin-left: 0;
     color: var(--gradient-bg);
 }

 ion-fab-button ion-icon {
     height: 60%;
     width: 60%;
 }