.activeTab {
    background: var(--gradient-bg);
    color: white;
}

  ion-buttons {
    position: absolute;

  }


  ion-card {
      padding-top: 5%;
      box-shadow: var(--box-shadow);
  }

  ion-item {
      font-size: 85%;
  }

 ion-item ion-fab-button {
     height: 30px;
     width: 30px;
     margin-left: 0;
     color: var(--gradient-bg);
 }

 ion-fab-button ion-icon {
     height: 60%;
     width: 60%;
 }
