<div class="nav-wrapper" style="background: white;">
  <ion-header class="navbar">
    <div class="icons">
      <ion-buttons slot="start">
        <ion-menu-button color="tertiary"></ion-menu-button>
      </ion-buttons>

      <ion-button (click)="settings()" class="settings" fill="clear" padding>
        <ion-icon name="settings"></ion-icon>
      </ion-button>


      <img src="assets/logo.png">

    </div>
  </ion-header>
</div>

<ion-content text-center>

  <div class="profile">
    <ion-avatar>

      <img id="profilePic" src="{{ profilePic }}">

    </ion-avatar>
    <h1>Hello {{ afAuth.auth.currentUser.displayName }}</h1>
    <ion-label>How can we help you today?</ion-label>
  </div>

  <div class="items">
    <ion-item detail>
      <ion-button mode="ios" fill="clear" class="itemBtns" (click)="search()">Search for a service</ion-button>
      <ion-icon name="search" slot="start"></ion-icon>
    </ion-item>

    <ion-item detail>
      <ion-button mode="ios" fill="clear" class="itemBtns" (click)="news()">View our latest news</ion-button>
      <ion-icon name="paper" slot="start"></ion-icon>
    </ion-item>

    <ion-item detail>
      <ion-button mode="ios" fill="clear" class="itemBtns" (click)="bill()">Pay a bill</ion-button>
      <ion-icon name="cash" slot="start"></ion-icon>
    </ion-item>
  </div>

</ion-content>
<ion-toolbar style="position: fixed; bottom: 0;"> 
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerDirection="forward" (click)="about()">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About Us</ion-label>
    </ion-tab-button>
    <ion-tab-button class="activeTab" tab="dashboard">
      <ion-icon color="blue" name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="contact()">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>